<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusGym</title>
</head>
<body>
    mi nombre es {{nombre}} <br>
    y mi apellido es {{apellido}} <br>

    {% for nota in notas %}
       {% if nota >= 6 %}
          <p style="color:green">nota: {{nota}}<p>
       {% else %}    
          <p style="color:red">nota: {{nota}}<p>
       {% endif %} 
    {% endfor %}
</body>
</html>